In [1]:
import os
import glob
import json
from datetime import datetime
from collections import defaultdict, Counter
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from collections import Counter
from scipy.stats import binom
import pandas as pd

# folder containing your JSONL files
folder_path = "study-data"

In [2]:

data = pd.DataFrame()
for jsonl_path in glob.glob(os.path.join(folder_path, "*.jsonl")):
    print(f"Processing file: {os.path.basename(jsonl_path)}")

    with open(jsonl_path, "r", encoding="utf-8") as f:
        for line_num, line in enumerate(f, 1):
            line = line.strip()
            if not line:
                continue

            # Parse JSON object
            try:
                record = json.loads(line)
            except json.JSONDecodeError:
                print(f"Skipping invalid JSON on line {line_num} in file {jsonl_path}")
                continue

            user_answer = record.get("user_answer", {})

            current_data = pd.DataFrame(user_answer)
            current_data['prolific_id'] = jsonl_path
            current_data['PID'] = record.get("PID", {})

            data = pd.concat([data, current_data])
data.head()

Processing file: 66bfdc082ffe8d45b60263a6.jsonl
Processing file: 663a94c4f1f80e7c9c8a2d19.jsonl
Processing file: 678e6eb7170e3a5da7c4ab91.jsonl
Processing file: 673276b17430c6ece3a6d874.jsonl
Processing file: 67d29a840debd6b228515177.jsonl
Processing file: 5d7ff85ffec5620017b07c40.jsonl
Processing file: 670453b0d93209a1e156916d.jsonl
Processing file: 5be87e33a14b540001aa2ea5.jsonl
Processing file: 66c5118758e462c3fe742d2a.jsonl
Processing file: 66e62716a40afa9a9b4d23c6.jsonl
Processing file: 60ec03471451032a030cfec1.jsonl
Processing file: 559e6830fdf99b4f0b98514a.jsonl
Processing file: 667901b2c2574ecf30bf6d3b.jsonl
Processing file: 65f4ab7884f8411c9e11a34e.jsonl
Processing file: 6422f34be2b8257efb345837.jsonl
Processing file: 63474e67a5fd298c6103c409.jsonl
Processing file: 5cfc38f7ee119e001803dd01.jsonl
Processing file: 5f1dfd940aeb060d8eb3cf55.jsonl
Processing file: 67e88a0303c1b7693d1a0c6f.jsonl
Processing file: 667c7880d80864f94fd000bc.jsonl
Processing file: 668ebf594982c57c983cd910.jsonl
Processing file: 673df2513506e2ad05c656e2.jsonl
Processing file: 67e0a8458369d92d9789b0b4.jsonl
Processing file: 67104c7deff954cb22438402.jsonl

,7first_choiceC3,7second_choiceC3,7third_choiceC3,1first_choiceC3,1second_choiceC3,1third_choiceC3,8first_choiceC3,8second_choiceC3,8third_choiceC3,2first_choiceC3,...,11third_choiceC3,6first_choiceC3,6second_choiceC3,6third_choiceC3,5first_choiceC3,5second_choiceC3,5third_choiceC3,12first_choiceC3,12second_choiceC3,12third_choiceC3
0,2025-07-17 15:00:19.598041,2025-07-17 15:00:16.851518,2025-07-17 15:00:27.078233,2025-07-17 15:01:08.913367,2025-07-17 15:01:28.387955,2025-07-17 15:03:29.081471,2025-07-17 15:03:51.560010,2025-07-17 15:04:06.842413,2025-07-17 15:05:49.344745,2025-07-17 15:06:20.838554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tell the patient about their condition.,Tell the patient about their condition.,Tell the patient about their condition.,"[5000, 5000, 0]","[5000, 5000, 0]","[5000, 5000, 0]",Sacrifice ten people to develop the vaccine.,"Do not sacrifice ten people, and do not develo...","Do not sacrifice ten people, and do not develo...","[6, 5, 7]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2025-07-16 15:02:42.679883,2025-07-16 15:02:45.754506,2025-07-16 15:03:03.248617,2025-07-16 15:03:18.290207,2025-07-16 15:03:28.914506,2025-07-16 15:03:52.820148,2025-07-16 15:04:02.492581,2025-07-16 15:04:08.821088,2025-07-16 15:04:19.263021,2025-07-16 15:04:35.419450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tell the patient about their condition.,Tell the patient about their condition.,Tell the patient about their condition.,"[4000, 5000, 1000]","[6000, 3000, 1000]","[6000, 3000, 1000]",Sacrifice ten people to develop the vaccine.,"Do not sacrifice ten people, and do not develo...","Do not sacrifice ten people, and do not develo...","[4, 2, 6]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2025-07-16 15:19:38.158149,2025-07-16 15:19:57.854862,2025-07-16 15:22:42.935464,2025-07-16 15:23:58.655670,2025-07-16 15:26:14.061273,2025-07-16 15:28:46.164480,2025-07-16 15:29:28.991367,2025-07-16 15:29:46.729548,2025-07-16 15:30:51.342569,2025-07-16 15:31:15.005058,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data['PID'].value_counts

In [ ]:
import pandas as pd
import pingouin as pg